#animation-container {
  position: relative;
}
  

.letter {
  display: inline-block;
  transition: transform 0.2s ease-out;
}


#instruction {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-family: 'Arial', sans-serif;
  font-size: 1rem;
  color: #888;
  text-align: right;
}
  